@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap');


:root{
    --transition: all 0.7s ease;
    --yellow: #f9d342;
    --dark: #292826;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    line-height: 1.6;
}
.btn{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 140px;
    display: block;
    margin: 15px auto;
    cursor: pointer;
    transition: var(--transition);
}
.sec-width{
    width: 85vw;
    margin: 0 auto!important;
}
.btn:hover{
    opacity: 0.85;
}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2, h3{
    padding: 8px 0;
    
}
li {
    list-style: none;
  }
a {
    text-decoration: none;
}  
img{
    width: 100%;
    display: block;
}
.title h2{
  color: #000000;
  font-family: 'Roboto Slab', serif !important;
  font-size: 74px; 
  font-weight: 800;
  line-height: 78px;
  margin: 50px 0 58px; 
  text-align: center;
    
}
@media(max-width: 500px){
    body{
        font-size: 14px;
    }
}
/* room */

.rooms{
    margin: 40px 0;
}
.room{
    margin: 45px 0;
    padding-bottom: 25px;
    background: var(--dark);
    color: #fff;
}
.room-text{
    padding: 5px 20px;
}
.room-text h3{
    font-size: 24px;
}
.room-text ul{
    list-style-type: none;
    margin: 15px 0;
}
.room-text ul li{
    padding: 7px 0;
}
.room-text ul li i{
    color: var(--yellow);
    margin-right: 10px;
}
.rate{
    opacity: 0.8;
}
header {
  height: 8vh;
  font-family: 'Roboto Slab', serif !important;
  background-color: #00000073;
  padding-bottom: 5rem;
}

.logo img {
  width: 140px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul li {
  margin-left: 3rem;
}

header ul li a {
  font-size: 1.2rem;
  font-weight: 400;
  color: white;
  transition: 0.5s;
}

header ul li a:hover {
  color: #789395;
}

@media only screen and (max-width: 768px)  {
  header ul {
    display: flex;
   
  }
}
.rate span{
    font-size: 40px;
    font-weight: 900;
    color: var(--yellow);
}
.room-image{
    overflow: hidden;
}
.room-image img{
    transition: var(--transition);
}
.room-image:hover img{
    transform: scale(1.1);
}
@media (min-width: 900px){
    .rooms-container{
        display: flex;
        flex-wrap: wrap;
    }
    .room{
        flex: 0 0 calc(50% - 20px);
        margin: 10px;
    }
}
@media(min-width: 1370px){
    .rooms-container{
        flex-direction: column;
    }
    .room{
        display: flex;
        padding-bottom: 0;
        margin: 5px 0;
    }
    .room-image{
        flex: 1;
    }
    .room-image img{
        height: 100%;
    }
    .room-text{
        flex: 1;
    }
    .room:nth-child(even){
        flex-direction: row-reverse;
    }
}
/*--------------footer--------*/
footer{
    padding: 4em;
    font-family: 'Roboto Slab', serif !important;

  }
  footer .grid{
    grid-template-columns: repeat(3, 1fr);
  
  }
  footer .payment{
    gap: 1px !important;
  }
  footer .payment img{
      max-width: 50px;
  }
  footer h3 {
    margin-bottom: 20px;
  }
  
  footer li {
    margin-bottom: 15px;
    transition: 0.5s;
  }
  
  footer li:hover {
    color: #789395;
    cursor: pointer;
  }
  .container {
    max-width: 80%;
    margin: auto;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
  }
  .top {
    margin-top: 10%;
  }
  
  
  /*--------------footer--------*/
  @media only screen and (max-width:768px) {
    .home .box .text {
      max-width: 100%;
    }
  
    .home .box .text::after,
    .home .image_item {
      display: none;
    }
  
    .restaurant .container,
    .about .container,
    .book .container {
      flex-direction: column;
    }
  
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .book {
      margin-top: 10%;
      height: auto;
    }
  
    .book .search {
      width: 100%;
    }
  
    .book .search input {
      margin-top: 0;
    }
  
    .left, .right {
      width: 100%;
    }
  
    .wrapper .text {
      width: 80%;
    }
  
    .room {
      margin-bottom: 100px;
    }
  
    .room .grid {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .restaurant .right {
      padding: 0;
      margin-top: 50px;
    }
  
    footer .payment {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  @media only screen and (max-width:768px) {
    .grid {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .home .text {
      margin: 10% 0 0 0;
    }
  
    .home h1 {
      font-size: 40px;
    }
  
    .about p,
    .home p {
      margin: 50px 0 0 0;
    }
  
    .wrapper .text {
      padding: 10px;
      height: 600px;
    }
  
    .heading_top {
      margin-top: 100px;
    }
  
    .heading_top button {
      display: none;
    }
  
    .restaurant .flex {
      flex-direction: column-reverse;
    }
  }